@import './vars.scss';
#app{
  width: 100%;
  height: 100%;
  overflow: auto;
}

$navgation-width : 160px;
$gap: 20px;
$footer-height: 50px;

.sider-bar{
  width: $sidebar-width;
  position: fixed;
  margin-top: $header-height;
  height: calc(100% - $header-height);
  overflow-y: auto;
  padding: 10px ;
  background-color: #fff;
}
.header-bar{
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  width: 100%;
  background-color: #303030;
  &-menu{
    width: 120px;
    background-color: #303030;
    z-index: 9;
    text-align: center;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: $header-height;
    left: 0;
    li+li{
      border-top: 1px solid #fff;
    }
  }
}
.footer-bar{
  height: $footer-height;
  line-height: $footer-height;
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #303030;
}
.banner-page{
  width: 100%; 
  height:500px;
  background: #000622;
  min-height: calc(100% - $header-height);
  margin-top: $header-height;
}
.view-content{
  margin-top: $header-height;
  margin-left: $sidebar-width + $gap;
  min-height: calc(100% - $header-height  - $footer-height);
  width: calc(100% - $sidebar-width - $gap);
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  &.min-view-content{
    margin-left: 0;
    width:100%
  }
 .main {
  display: flex;
  height: calc(100vh - 54px);
  overflow: auto;
 }
}

